{% extends 'base.html' %}
{% block content %}

<h1> {{ user.username }}'s Profile</h1>
<p><strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}</p>
<p><strong>Address: </strong> {{ user.address }}</p>
<h2>Climbing Styles</h2>

{% if user.user_does_styles %}
    <ul>
        {% for style in user.user_does_styles %}
            <li>{{ style }}</li>    
        {% endfor %}
    </ul>
{% endif %}

{% if user.has_gear %}
    <p>{{ user.username }} has their own climbing gear.</p>
{% else %}
    <p>{{ user.username }} does not have their own climbing gear.</p>
{% endif %}

{% include 'projects_appointments.html' %}

{% if user == current_user %}
    <h2>Your Upcoming Appointments</h2>
    {% if user.user_appointments %}
        <div>
            {% for appointment in user.user_appointments %}
                <p>{{ appointment.appointment_datetime }} @ <a href="/venue/{{ appointment.venue_id }}" >{{ appointment.appointment_venues[0] }}</a></p>
                <form method="POST" action="/delete_appointment/{{ appointment.id }}">
                    <input type="submit" value="Delete appointment">
                </form>
            {% endfor %}
        </div>
    {% else %}
        <p>You have no appointments yet!</p>
    {% endif %}

    {% include 'edit_profile.html' %}

{% else %}
    <h2>{{ user.username }}'s Upcoming Appointments</h2>
    {% if user.user_appointments %}
    <div>
        {% for appointment in user.user_appointments %}
        <p>{{ appointment.appointment_datetime }} @ <a href="/venue/{{ appointment.venue_id }}" >{{ appointment.appointment_venues[0] }}</a> 
            {% if current_user.is_authenticated %}
                <form method="POST" action="/join_appointment/{{ appointment.id }}">
                    <input type="submit" value="Join Appointment!">
                </form></p>
            {% endif %}
        {% endfor %}
    </div>  
    {% endif %}
{% endif %}

{% endblock %}