{% extends 'base.html' %}
{% block content %}

<h1>Venue - {{ venue.name }}</h1>

<p><strong>Address / Location:</strong> {{ venue.address }}</p>

<p><strong>Hours of Operation:</strong> {{ venue.open_hours }}</p>

<p><strong>Description:</strong> {{ venue.description }}</p>

<h2>Routes</h2>

<div class="routes">
    {% for route in routes %}
    <div class="route-details">
        <a href="/route/{{ route.id }}">
        <p><strong>{{ route.name }}</strong></p></a>
        <p><strong>Grade: {{ route.grade }}</strong></p>
        {% if current_user.is_authenticated %}
            <form method="POST" action="/add_to_project_list/{{ route.id }}">
                <input type="submit" value="Project route!">
            </form>
            <form method="POST" action="/log_ascent/{{ route.id }}">
                <input type="submit" value="Log an ascent!">
            </form>
            <form method="POST" action="/delete_route/{{ route.id }}">
                <input type="submit" value="Delete route">
            </form>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% if current_user.username %}
    {% include 'partials/edit_venue_partial.html' %}
{% endif %}

{% endblock %}